html {
    overflow: hidden;
    overflow-x: hidden;
}

body {
    position: relative;
    overflow-y: hidden;
}

.esri-search__container{
    border: 1px solid #e0e0e0;
}

.icon-right-padding-0 {
    [class^="icon-ui-"]:before, [class*=" icon-ui-"]:before {
        padding-right: 0;
    }
}

.fancy-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.fancy-scrollbar::-webkit-scrollbar-track {
    background: rgba(200, 200, 200, .5); 
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
    background: #ccc; 
}

.fancy-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9; 
}
