@import '~calcite-web/dist/css/calcite-web.min.css';

.cursor-pointer {
    cursor: pointer;
}

#root {
    .esri-search__submit-button {
        border: none;
        border-left: solid 1px #efefef;
    }
}