<!doctype html>
<html dir="ltr">
    <head>
		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width">
        <meta name="author" content="ArcGIS Living Atlas of the World">
        
        <meta property="og:title" content="Esri Maps for Public Policy">
		<meta property="og:description"  content="Esri Maps for Public Policy offers maps, layers, training, and other resources to help policymakers make data-driven decisions."/>
		<meta property="og:image" content="/media/apps-page/screenshots/policy_thumbnail.png"/>

        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="icon" href="//www.esri.com/favicon.ico">
        <script src="//mtags.arcgis.com/tags-min.js" async></script>
        <script type="module" src="https://js.arcgis.com/calcite-components/1.0.7/calcite.esm.js"></script>
        <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/calcite-components/1.0.7/calcite.css" />

    </head>
    <body>
        <div id='root'></div>
    </body>
</html>