<!doctype html>
<html dir="ltr">
    <head>
		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width">
		<meta property="og:title" content="Esri Maps for Public Policy">
		<meta property="og:description"  content="Esri Maps for Public Policy offers maps, layers, training, and other resources to help policymakers make data-driven decisions."/>
		<meta property="og:image" content="/media/apps-page/screenshots/policy_thumbnail.png"/>

        <title>Esri Maps for Public Policy</title>
        <link rel="icon" href="//www.esri.com/favicon.ico">
        <!-- <script src="//assets.adobedtm.com/launch-EN2fdedde535a54f52816d79f2b1a4a35f.min.js" async></script> -->

        <script>
            window.currentPath = "<%= htmlWebpackPlugin.options.pageName %>";
        </script>
        
    </head>
    <body>
        <div id='root'></div>
    </body>
</html>